.contact-container {
    padding: 2em;
    // background-color: #FDF5F9;
    // background-color: #fdebd2;
    // background-color: #2f466c;
    // background-color: #415578;
    // background-color: #232347;
    background-color: #f8ebe6;
    // background-color: #FAA077;
    // background-color: #1a425b;
    // background-color: #dadfe3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;

    .contact-header {
        margin-bottom: 1em;
    }
    .contact-form {
        width: 50vw;
        display: grid;
        grid-template-columns: 38% 10% 4% 10% 38%;
        grid-template-rows: auto auto auto auto auto;

        .form-group {
            text-align: left;
        }

        .form-group:nth-child(1) {
            grid-column: 1 / span 2;
            grid-row: 1;
        }

        .form-group:nth-child(2) {
            grid-column: 4 / span 5;
            grid-row: 1;
        }

        .form-group:nth-child(3) {
            grid-column: 1 / span 5;
            grid-row: 2;
        }

        .form-group:nth-child(4) {
            grid-column: 1 / span 5;
            grid-row: 3;
            margin-bottom: 2rem;
        }

        button {
            margin-bottom: 1rem;
            grid-column: 2 / span 3;
            grid-row: 4;
            border-radius: 20px;
            background-color: #5E77FF;
            border-color: #5E77FF;
        }
    }
}