.section-banner-container {
    width: 100vw;
    min-height: 35vh;
    padding: 2em 0;
    background-color: #FDF8F5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        width: 90%;
        max-width: 1000px;
    }
}