.services-container {
    width: 100vw;
    padding: 5em 0;
    // margin-bottom: 2em;
    // clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    // clip-path: polygon(0 calc(0% + 11vw), 100% 0, 100% calc(100% - 7vw), 0% 100%);

    .decor-trim-top {
        height: 5em;
        background-color: #fdebd2;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
    .section-banner-container {
        background-color: #fdebd2;
    }
    .grouped-services {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fdebd2;

        .services-offered {
            width: 90%;
            max-width: 1100px;
            margin-bottom: 5em;
            text-align: left;

            .service-column {
                padding: 0;

                .single-service {
                    // min-width: 250px;
                    // max-width: 300px;
                    margin: 1em;
                    border: 0;
                    background-color: unset;
                    // border: 1px solid rgba(0,0,0,.125);
                    // border-radius: .25rem;
                    // box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
                    // filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
        
                    .card-body {
                        padding: 0;

                        .service-icon {
                            position: relative;
                            height: 50px;
                            margin-bottom: 1em;
        
                            svg, .icon-background {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 50px;
                                height: 100%;
                            }
        
                            svg {
                                z-index: 1;

                                g path, path:first-child {
                                    fill: #000000;
                                }
                            }

                            .icon-background svg {
                                z-index: 0;

                                path { 
                                    fill: #f7772e;
                                }
                            }
                        }
                        .card-title {
        
                        }
                        .card-text {
        
                        }
                    }
                }
            }
        }
    }
    .decor-trim-bottom {
        height: 5em;
        background-color: #fdebd2;
        clip-path: polygon(0 0, 0 100%, 100% 0);
    }
}

/********** Small devices (landscape phones, 576px and up) Small devices (landscape phones, 576px and up) and Extra small devices (portrait phones, less than 576px) **********/
@media only screen and (max-width: 767.98px) {
    .services-container .grouped-services .services-offered .service-column .single-service {
        max-width: unset;
    }
}