header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;

    .navbar {
        padding-left: 2.5rem;
        padding-right: 2.5rem;

        .header-bar {
            .navbar-toggler:focus {
                outline: none;
            }
            .navbar-brand {
                padding-left: 0;
                color: #FFFFFF;
                
                .logo {
                    margin-right: 0.5rem;
                }
                .logo-text {
                    text-decoration: none;
                }
            }
        }
        
        #header-navbar-nav .navbar-nav {
            .nav-link {
                position: relative;
                color: #FFFFFF;

                &:focus, &:hover {
                    color: #FFFFFF;
                }
                &.active:first-child {
                    color: #FFFFFF;
                }
            }
            .nav-link::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 0;
                height: 3px;
                background: #845598;
                transition: width 0.5s ease;
            }
            .nav-link:hover::before {
                width: 100%;
                color: rgba(0,0,0,.5);
            }
        }
    }
}


/********** Large and Extra large devices **********/
@media only screen and (min-width: 991.98px) {
    header .navbar {
        background-color: transparent;
        transition: background-color 0.5s linear;

            &:hover {
                background-color: #000000;
            }
            #header-navbar-nav .navbar-nav {
            width: 40%;
            justify-content: space-evenly;

            // .nav-link::before {
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     top: 50%;
            //     left: 0;
            //     transform: translateY(-50%);
            //     width: 0;
            //     height: 3px;
            //     background: #845598;
            //     transition: width 0.5s ease;
            // }
            // .nav-link:hover::before {
            //     width: 100%;
            // }
        }
    }
}

/********** Medium devices (tablets, 768px and below) **********/
@media only screen and (max-width: 991.98px) {
    header .navbar {
        position: sticky;
        padding: 0;

        .header-bar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem 1rem;
        }

        .navbar-collapse.show, .navbar-collapse.collapsing {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 70%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000000;

            .navbar-nav {
                height: 80%;
                width: 100%;
                align-items: center;
                justify-content: space-evenly;

                .nav-link {
                    padding: 0 0.5em;
                    font-size: xx-large;
                    text-align: center;
                }
            }
        }
    }
}