header .navbar {
    .header-bar {
        .navbar-toggler:focus {
            outline: none;
        }

        .navbar-brand {
            padding-left: 0;
            
            .logo {
                margin-right: 0.5rem;
            }
    
            .logo-text {
                text-decoration: none;
            }
        }
    }
    
    #header-navbar-nav .navbar-nav {
        .nav-link:focus {
            color: rgba(0,0,0,.5);
        }
        
        .nav-link:first-child {
            &.active {
                color: rgba(0,0,0,.5);
            }   
        }
    }
}

/********** Large and Extra large devices **********/
@media only screen and (min-width: 991.98px) {
    header .navbar #header-navbar-nav .navbar-nav .nav-link:last-child {
        background: color(secondary);
        border-radius: 20px;
    }
}

/********** Medium devices (tablets, 768px and below) **********/
@media only screen and (max-width: 991.98px) {
    header .navbar {
        padding: 0;

        .header-bar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem 1rem;
        }

        .navbar-collapse.show, .navbar-collapse.collapsing {
            background-color: color(base2);

            .navbar-nav {
                align-items: center;

                .nav-link{
                    width: 100%;
                    text-align: center;
                    
                    &:hover {
                        background: color(navHover);
                    }

                    &.active:not(:first-child) {
                        background: color(secondary);
                    }
                }
            }
        }
    }
}